language: go

sudo: enabled

os: linux

go:
  - 1.9.x
  - 1.14.x

install: true

script:
  - go build
  - go vet .
  - go test -coverprofile=coverage.txt -covermode=atomic
  
after_success:
  - bash <(curl -s https://codecov.io/bash)
